/*COLORES PRINCIPALES*/
$first-Color:#1F3F68;
$second-Color:#3D74B0;
$third-Color: #FFFFFF;
$textBanner:#DBEAFA;
$text-Popular:#292929;
$fechaBigArticle-Popular:#6F849F;
$fechaLittleArticle-Popular:#5C5C5C;
$iconos:#356EAD;
$text-AllArticle:#666666;
$fecha-AllArticle:#999999;
$arrows-AllArticle:#5D8BBD;
$background-InterstedAndFooter:#316099;
$text-Intersted: #ADBFD6;
$backgroundButton-LetsTalk:#5A98D0;
$text-Copyright:#83A0C2;

/*TAMAÑO TEXTOS*/
$xs: 1.1rem;
$s: 2.5rem;
$m: 2.1rem;
$l: 2.5rem;
$xl: 3rem;


.xs{
    font-size: .2rem;
}
.s{
    font-size: .5rem;
}
.m{
    font-size: 1rem;
}
.l{
    font-size: 1.5rem;
}
.xl{
    font-size: 2rem;
}

.font-bold{
    color: $first-Color;
    font-weight: bold;
}

.font-light{
    font-weight: lighter;
}

.font-colorWhite{
    color: white
}

/*ESPACIO SEGURO*/
.content{
    max-width: 1290px;
    margin: 0 auto;
}

*{
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
